/* miama font style */
@import url('https://fonts.cdnfonts.com/css/miama');

 /* inter font style */
 .inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* share styles */
  .btn-primary{
    color: #FFFFFF;
    background-color: #E6533C;
    font-size: 1rem;
    border-radius: 42px;
    padding: 16px 40px;
    border: none;
  }
  .title-primary {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 2.25rem;
    margin: 0;
    margin-bottom: 12px;
  }
  .content {
    text-align: center;
  }
  .text-tomato {
    color: #E6533C;
    font-style: italic;
    font-weight: 800;
  }
  .container{
    width: 1050px;
    margin: 0 auto;
    
  }
  body{
    background-color: rgb(16, 16, 16);
  }
  .description {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
  }
  .section-mb {
    margin-bottom: 100px;
  } */

  /* header style*/
  header{
    background-color: rgba(33, 31, 31, 0.958);
  }

  /* navbar style*/
  .navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

  }
  .nav-title{
    margin: 0;
    font-size: 2.25rem;
  }
  nav ul {
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 4px;
    margin: 0;   
  }
  nav li {
    list-style: none;
    margin-right: 47px;
  }
  nav li a {
    text-decoration: none;
    color: #FFFFFF;
  }
  .home {
    background-color: #E6533C;
    border-radius: 46px;
    padding: 8px 15px;
  }
  nav .fa-bars {
    color: white;
    display: none;
  }

  /* banner style */ 
  .banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 38px;
    height: 550px;
  }
  .banner-title {
    color: #FFFFFF;
    font-size: 4rem;
    position: relative;
    font-weight: 900;
    margin-bottom: 0;
    
  }
  .shape {
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-style: italic;
    position: relative;
  }
  .get-body{
    position: relative;
    top: 45px;
  }
  .healthy{
    position: absolute;
    bottom: -3px;
  }
  .banner-description{
    margin: 24px 0;
  }
  .btn-container{
    display: flex;
    gap: 14px;
  }
  .download-btn {
    color: #FFFFFF;
    background-color: rgba(17, 17, 17, 1);
    font-size: 1rem;
    border-radius: 42px;
    padding: 16px 40px;
    border: 1px solid white;
  }
  
  .video-detail {
    background-image: url('../images/Images\ 2.png');
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    gap: 150px;
    position: relative;
  }
  .video-bg {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    height: 65px;
    padding: 15px 23px;
    background-color: rgba(48, 48, 48, 0.54);
    position: relative;
  }
  .play{
    display: block;
  }
  .video-play {
    display: none;
  }
  .tutorial {
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
    top: 390px;
    left: 120px;
  }
  .tutorial-view {
    margin: 0;
    font-size: 24px;
    font-weight: 900;
    color: #FFFFFF;
    padding: 0;
  }
  .tutorial p {
    margin-top: 8px;
    margin-bottom: 0;
  }
  
  .free-workout{
    position: absolute;
    top: 100px;
    right: -50px;
  }
  .Workout-video-view {
    font-size: 40px;
    font-weight: 900;
    color: #FFFFFF;
    margin: 0;
  }
  .Workout-description {
    margin: 5px 0;
  }

  /* habits styles */
  .habit-section{
    margin: 0 50px;
  }
  .habit-card{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 35px;
    margin-top: 40px;
  }
  .card{
    margin: 0;
  }
  .card{
    text-align: center;
 }
  .card img {
    border-radius: 50%;
  }
  .habit-cart-title {
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
  }

  /* run styles */
  .run-container{
    display: flex;
    justify-content: space-between;
    gap: 160px;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 18px;
    padding: 40px 50px;
  }
  .run-container img{
    width: 320px;
    border-radius: 18px;
  }
  .run-container p {
    margin-top: 14px;
    margin-bottom: 25px;
  }

  /* responsive media queries */
  /* mobile devices */
  @media screen and (max-width: 576px) {

    nav li {
        display: none;
    }
    nav .fa-bars {
        display: block;
    }
    nav ul{
        border: none;
    }
    .container {
        width: 335px;
        margin: 0 15px;
    }
    .section-mb{
        margin-bottom: 50px;
    }
    .play{
        display: none;
    }
    .video-play{
        display: block;
    }
    .banner{
        height: auto;
    }
    .banner,
    .run-container
    {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .habit-card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }
    .banner-title{
        font-size: 36px;
    }
    .get-body{
        top: 25px;
    }
    .video-detail{
        height: 600px;
        width: 300px;
    }
    .tutorial{
        position: absolute;
       left: 0px;
        top: 250px;
    }
    .tutorial-view {
        font-size: 18px;
    }
    .free-workout{
        position: absolute;
        top: 70px;
        right: -20px;
    }
    .download-btn{
        padding: 15px 12px;
    }
    .title-primary {
        font-size: 1.25rem;
    }
    .content{
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .card{
        text-align: center;
    }
    .run-container{
        padding: 30px;
        gap: 25px;
    }
    .run-container img {
        width: 280px;
    }
  }